* {
    box-sizing:border-box;
}

body {
    background-color: #CCC;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.form{
    margin-top: 20px;
}

.msgSucesso{
    color: green;
}

.msgErro {
    color: red;
}

#msgLogin{
    color: red;
}

.some{
    display: none;
}

.aparece{
    display: : initial;
}